@model Model.Model.Account.ChangePasswordModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Đổi mật khẩu</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @Styles.Render("~/Account/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="hold-transition register-page">
    <div class="register-box">
        @*<div class="register-logo">
                <a href="#"><b>Đăng ký hệ thống</b></a>
            </div>*@
        <div class="card">
            <div class="card-body login-card-body">
                <p class="login-box-msg">Đổi mật khẩu</p>
                @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { id = "frmLogin" }))
                {
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-user"></i></span>
                        </div>
                        @Html.TextBoxFor(m => m.OldPassword, new { @class = "form-control", @placeholder = "Mật khẩu cũ" })
                    </div>
                    @Html.ValidationMessageFor(model => model.OldPassword, "", new { @class = "text-danger" })

                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-lock"></i></span>
                        </div>
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Mật khẩu mới" })
                    </div>
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })

                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-lock"></i></span>
                        </div>
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Nhập lại mật khẩu mới" })
                    </div>
                    @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })

                    <div class="row">
                        <!-- /.col -->
                        <div class="col-4"></div>
                        <div class="col-4">
                            <button type="submit" class="btn btn-primary btn-block btn-flat">Đổi mật khẩu</button>
                        </div>
                        <!-- /.col -->
                    </div>
                }
                <a href="javascript:history.go(-1)" class="text-center">Quay lại</a>
            </div>
            <!-- /.login-card-body -->
        </div>
    </div>
    <!-- /.register-box -->

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Account/js")
    @Scripts.Render("~/bundles/jqueryval")
</body>
</html>