@model Model.Model.Account.ForgetPasswordModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Quên mật khẩu</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @Styles.Render("~/Account/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="hold-transition register-page">
    <div class="register-box">
        @*<div class="register-logo">
                <a href="#"><b>Đăng ký hệ thống</b></a>
            </div>*@
        <div class="card">
            <div class="card-body login-card-body">
                <p class="login-box-msg">Quên mật khẩu</p>
                @using (Html.BeginForm("ForgetPassword", "Account", FormMethod.Post, new { id = "frmLogin" }))
                {
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-envelope"></i></span>
                        </div>
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email" })
                    </div>
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })

                    <div class="g-recaptcha" data-sitekey="6LdON-YUAAAAAGwjZNL0Ybcw7Jf7zsEXTKabwNYS"></div>

                    <div class="row">
                        <!-- /.col -->
                        <div class="col-4"></div>
                        <div class="col-4 col-off-4">
                            <button type="submit" class="btn btn-primary btn-block btn-flat">Quên mật khẩu</button>
                        </div>
                        <!-- /.col -->
                    </div>
                }
                <a href="javascript:history.go(-1)" class="text-center">Quay lại</a>
            </div>
            <!-- /.login-card-body -->
        </div>
    </div>
    <!-- /.register-box -->

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Account/js")
    @Scripts.Render("~/bundles/jqueryval")

    <script src='https://www.google.com/recaptcha/api.js' type="text/javascript"></script>
</body>
</html>